.git
.gitignore
node_modules
.pnp.*
.yarn
yarn-error.log
Dockerfile
.dockerignore
README.md
**/*.md
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
coverage
dist-types
helm
kubernetes
terraform
scripts
.github
